section {
    color: #fff;
    width: 70vw;

    margin: 3rem auto;
}

section {
    p {
        text-align: left;
        font-family: 36px;
        font-weight: 500;

        margin-bottom: 2rem;
        line-height: 1.5;
    }

    h2 {
        margin-top: 5rem;
    }
}

