.aboutdark {
    color: #fff;
    width: 70vw;

    margin: 0 auto;
    padding-top: 10rem;
}

.aboutlight {
    color: rgb(7, 7, 55);
    width: 70vw;

    margin: 10rem auto;
}

.aboutlight p {
    color: rgba(7, 7, 55, 0.59);
}

section p {
     
        text-align: left;
        font-family: 36px;
        font-weight: 500;

        margin-bottom: 2rem;
        line-height: 1.5;
    
}
section  h2 {
    margin-top: 5rem;
}


.skills-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex: 1;
    gap: 2rem;

    background-color: rgb(95, 158, 160, .4);
    border-radius: 8px;
    padding: 1rem;
    margin-top: 2rem;
    margin-bottom: 5rem;
}

.skills-icons img {
    width: 100px;
    height: 100px;
}


a {
    text-decoration: none;
    color: gold;
}

span {
        color: gold;
}
