.aboutdark {
    color: #fff;
    width: 70vw;

    margin: 3rem auto;
}

.aboutlight {
    color: rgb(7, 7, 55);
    width: 70vw;

    margin: 3rem auto;
}

section {
    p {
        text-align: left;
        font-family: 36px;
        font-weight: 500;

        margin-bottom: 2rem;
        line-height: 1.5;
    }

    h2 {
        margin-top: 5rem;
    }
}

.skills-iconsdark {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex: 1;
    gap: 2rem;

    background-color: rgb(95, 158, 160, .4);
    border-radius: 8px;
    padding: 1rem;
    margin-top: 2rem;
    margin-bottom: 5rem;
}

.skills-icons {
    img {
        width: 100px;
        height: 100px;
    }
}

p {
    a {
        text-decoration: none;
        color: gold;
    }

    span {
        color: gold;
    }
}
