.headerdark {
    display: flex;
    align-items: center;
    color: gold;
    padding-top: 1rem;
    padding-left: 5rem;
    padding-right: 20rem;

    position: fixed;
    top: 0;
    width: 100%;
    background-color: black;

    animation: borderBottom infinite linear 10s;
}

.headerlight {
    display: flex;
    align-items: center;
    color: chartreuse;
    padding-top: 1rem;
    padding-left: 5rem;
    padding-right: 20rem;

    box-shadow: rgba(50, 50, 93, 0.1) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.25) 0px 8px 16px -8px;
    

    position: fixed;
    top: 0;
    width: 100%;
    background-color: #fff;
}

@keyframes borderBottom {
    0% {
        border-bottom: solid cadetblue 1px;
    }

    10% {
        border-bottom: solid green 1px;
    }

    25% {
        border-bottom: solid tomato 1px;
    }

    50% {
        border-bottom: solid gold 1px;
    }

    75% {
        border-bottom: solid white 1px;
    }

    100% {
        border-bottom: solid cadetblue 1px;
    }
}

.navdark {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 2rem;

    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
}

.navlight {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 2rem;

    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    color: rgba(7, 7, 55, 0.59);
}


nav * {
    text-decoration: none;
    color: inherit;
}

.themeIconDark {
    width: 30px;
    height: 30px;

    border-radius: 50%;
    padding: 4px;
    background-color: #fff;
}

.themeIconDark:hover {
    border: solid 2px gold;
}

.themeIconLight {
    width: 30px;
    height: 30px;

    border-radius: 50%;
    padding: 4px;
    background-color: rgba(7, 7, 55, 0.065);
}

.themeIconLight:hover {
    border: solid 1px chartreuse;
}