.header {
    display: flex;
    align-items: center;
    color: gold;
    padding-top: 1rem;
    padding-left: 5rem;
    padding-right: 20rem;
    animation: borderBottom infinite linear 10s;
}

@keyframes borderBottom {
    0% {
        border-bottom: solid black 1px;
    }

    50% {
        border-bottom: solid gold 1px;
    }

    100% {
        border-bottom: solid black 1px;
    }
}

nav {
    margin-left: auto;
    display: flex;
    gap: 2rem;

    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
}

nav * {
    text-decoration: none;
    color: #fff;
}