#root {
  height: 100%;
  width: inherit;
  text-align: center;
  background-color: black;

  overflow-y: scroll;
  transition: all 1s;
}

.applight {
  background-color: #fff;

  transition: all 1s;
}

.appdark {
  background-color: black;

  transition: all 1s;
}