#root {
  height: 100%;
  width: inherit;
  text-align: center;
  background-color: black;

  overflow-y: scroll;
}

.app-footer {
  color: #fff;
  position: fixed;
  bottom: 0;
  left: 45%;

  text-align: center;
}